.ant{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #400;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.qween::after {
    content: "";
    background: #400;
    height: 9px;
    width: 11px;
    position: absolute;
    border-radius: 100%;
    left: 3px;
    top: -2px;
}
.qween::before {
    content: "";
    background: #400;
    height: 7px;
    width: 7px;
    position: absolute;
    border-radius: 100%;
    right: 3px;
    top: -1px;
}
.graf{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}
.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.table{
    position: absolute;
    background: #eace7d;
}
.seed
,.ants
,.trail{
    position: absolute;
    background: #0000;
    top: 50%;
    left: 50%;
}
.seed{
    height: 8px;
    width: 8px;
    border-radius: 0 10px;
}
.trail{
    height: 2px;
    width: 2px;
    border-radius:100%;
}
/* .center{
    position: absolute;
    top: 2000px;
    left: 2000px;
    border: solid 1px;
    height: 1900px;
    width: 1900px;
} */
